/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.half-opacity {
  opacity: 0.5;
}

.half-opacity:hover {
  opacity: 1;
}

/* struttura 3 blocchi */
#menu {
  width: 200px;
  height: calc(100vh - 100px);
  float: left;
  background: #070d0e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main {
  width: calc(100% - 200px);
  height: calc(100vh - 100px);
  float: left;
  background-image: linear-gradient(to bottom right, #2f575c, #070c0c );
}

#player {
  height: 100px;
  background: #282828;
}

/* menu */
#menu a {
  font-size: 0.8em;
  font-weight: 600;
  color: #fff;
}

#menu .top {
  width: 100%;
  padding-top: 25px;
}

#menu .top img {
  filter: invert(1);
}

#menu .small-logo {
  display: none;
}

#menu .logo img {
  padding-left: 20px;
  margin-bottom: 25px;
  height: 40px;
}

#menu .top ul img {
  height: 25px;
  margin-right: 10px;
}

#menu .top ul a {
  padding: 10px 0 10px 20px;
}

#menu .bottom {
  padding-bottom: 10px;
}

#menu .bottom img {
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

#menu .bottom .download i {
  font-size: 1.5em;
  margin-right: 10px;
}

#menu .bottom .download {
  padding: 0 0 10px 20px;
}

#menu .bottom .user {
  padding-top: 10px;
  margin: 0 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#menu .actual-page {
  border-left: 4px solid #1ed761;
}

#menu a {
  display: flex;
  align-items: center;
}

#menu span {
  padding-top: 5px;
}

/* media query menu */
@media screen and (max-width: 499px) {

  #menu {
    width: 70px;
  }

  #main {
    width: calc(100% - 70px);
  }

  #menu span {
    display: none;
  }

  #menu .big-logo {
    display: none;
  }

  #menu .small-logo {
    display: inline-block;
  }

  #menu .logo img,
  #menu .top ul a,
  #menu .top ul img,
  #menu .bottom .download,
  #menu .bottom .download i,
  #menu .bottom .user,
  #menu .bottom img {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    border: 0;
  }

  #menu .top .actual-page {
    border-left: 2px solid #1ed761;
  }

  #menu {
    align-items: center;
  }

  #menu a {
    justify-content: center;
  }
}