/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.half-opacity {
  opacity: 0.5;
}

.half-opacity:hover {
  opacity: 1;
}

/* struttura 3 blocchi */
#menu {
  width: 200px;
  height: calc(100vh - 90px);
  float: left;
  background: #070d0e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main {
  width: calc(100% - 200px);
  height: calc(100vh - 90px);
  float: left;
  background-image: linear-gradient(to bottom right, #2f575c, #070c0c );
  overflow-y: scroll;
  scrollbar-color: #000 transparent;
}

#player {
  height: 90px;
  background: #282828;
}

/* menu */
#menu a {
  font-size: 0.8em;
  font-weight: 600;
  color: #fff;
}

#menu .top {
  width: 100%;
  padding-top: 25px;
}

#menu .top img {
  filter: invert(1);
}

#menu .small-logo {
  display: none;
}

#menu .logo img {
  padding-left: 20px;
  margin-bottom: 25px;
  height: 40px;
}

#menu .top ul img {
  height: 25px;
  margin-right: 10px;
}

#menu .top ul a {
  padding: 10px 0 10px 20px;
}

#menu .bottom {
  padding-bottom: 10px;
}

#menu .bottom img {
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

#menu .bottom .download i {
  font-size: 1.5em;
  margin-right: 10px;
}

#menu .bottom .download {
  padding: 0 0 10px 20px;
}

#menu .bottom .user {
  padding-top: 10px;
  margin: 0 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#menu .actual-page {
  border-left: 4px solid #1ed761;
}

#menu a {
  display: flex;
  align-items: center;
}

#menu span {
  padding-top: 5px;
}

/* media query menu */
@media screen and (max-width: 499px) {

  #menu {
    width: 70px;
  }

  #main {
    width: calc(100% - 70px);
  }

  #menu span {
    display: none;
  }

  #menu .big-logo {
    display: none;
  }

  #menu .small-logo {
    display: inline-block;
  }

  #menu .logo img,
  #menu .top ul a,
  #menu .top ul img,
  #menu .bottom .download,
  #menu .bottom .download i,
  #menu .bottom .user,
  #menu .bottom img {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    border: 0;
  }

  #menu .top .actual-page {
    border-left: 2px solid #1ed761;
  }

  #menu {
    align-items: center;
  }

  #menu a {
    justify-content: center;
  }
}

/* main */
#main .nav-menu {
  margin: 30px 10% 50px;
}

#main .nav-menu ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#main .nav-menu a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.15em;
  font-weight: 600;
  color: #fff;
  padding: 10px;
}

#main section {
  margin: 25px;
}

#main .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#main .title h2 {
  font-size: 2.2em;
  font-weight: 800;
  color: #fff;
}

#main .title p {
  margin: 5px 0;
  font-size: 0.9em;
  color: #fff;
  opacity: 0.5;
}

#main .title a {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.15em;
  color: #fff;
}

#main .content {
  margin: 25px 0;
  text-align: center;
}

#main .content ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#main .content li {
  margin: 0 15px 20px 0;
  position: relative;
}

#main .content img {
  display: block;
  width: 180px;
  height: 180px;
  margin-bottom: 10px;
}

#main .content a {
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #fff;
}

#main .layer {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  visibility: hidden;
}

#main .layer .fa-play {
  margin: auto;
  font-size: 2.5em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 40px;
  padding: 15px 25px;
  opacity: 0.6;
}

#main .layer .fa-play:hover {
  opacity: 1;
}

#main .content li:hover .layer {
  visibility: visible;
}

#main #recently-played img {
  border-radius: 50%;
}

#main #recently-played .layer {
  border-radius: 50%;
}

/* player */
#player {
  display: flex;
  justify-content: space-between;
}

#player .now-playing {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

#player .now-playing .album-cover{
  display: block;
  width: 60px;
  height: 60px;
}

#player .now-playing .album-cover img {
  width: 100%;
  box-shadow: 0 0 5px #000;
}

#player .now-playing li {
  margin-left: 10px;
}

#player .now-playing .song-title {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 0.9em;
  font-weight: 200;
  letter-spacing: 0.05em;
  color: #fff;
}

#player .now-playing .song-title:hover {
  text-decoration: underline;
}

#player .now-playing .artist {
  display: inline-block;
  font-size: 0.7em;
  font-weight: 200;
  letter-spacing: 0.05em;
  color: #fff;
}

#player .now-playing .fa-heart {
  font-size: 1em;
  margin-left: 15px;
  color: #fff;
}